.PlayersList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PlayersArray {
  list-style-type: none;
  margin-top: 30px;
}

.sort_Score {
  background-color: transparent;
  border: none;
  color: white;
  height: 35px;
  font-size: 17px;
  width: 200px;
  margin-top: 80px;
}

button:hover {
  border: 3px solid lightblue;
  cursor: pointer;
  border-radius: 4px;
}
