.AddPlayer {
  margin: 10px 10px;
}

.AddPlayer_submit{
  background-color: lightblue;
  border: 2px solid white;
  margin-left: 6px;
  height: 30px;
  width: 150px;
  font-weight: bold;
  border-radius: 5px;
  transition: .3s all linear;
}

.AddPlayer_submit:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.AddPlayer_input {
  border: 2px solid lightblue;
  margin-right: 6px;
  height: 25px;
  width: 250px;
}

