@import url('https://fonts.googleapis.com/css?family=PT+Sans|Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
